{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceni eVoting</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap-min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <script src="{% static "scripts/index.js" %}" defer></script>
    <script src="https://unpkg.com/@zxing/library@latest" defer></script>
</head>

<body>
    {% block content %}
    {% endblock content %}
</body>

</html>