{% extends "index.html" %}
{% load static %}
{% block content %}
<header class="navbar navbar-dark sticky-top flex-md-nowrap p-2 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 fs-6 px-3" href=""><img src="{% static 'images/favicon.ico' %}"
            class='img-fluid' height='30' width='30'> Ceni eVoting</a>
    <button class="navbar-toggler position-absolute d-md-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column mt-2">
                    <li class='nav-item'>
                        <a href="{% url "list_candidate" %}"
                            class="nav-link fs-6 text-secondary {% if name == 'list_candidate' %}link_active{% endif %}">
                            <i class="bi bi-calendar4"></i> Vote
                        </a>
                    </li>
                    <li class='nav-item'>
                        <a href="{% url "history" %}"
                            class="nav-link fs-6 text-secondary {% if name == 'history' %}link_active{% endif %}">
                            <i class="bi bi-clock-history"></i> historique
                        </a>
                    </li>
                    <li class='nav-item'>
                        <a href="{% url "verify" %}"
                            class="nav-link fs-6 text-secondary {% if name == 'verify' %}link_active{% endif %}">
                            <i class="bi bi-envelope-check"></i> Vérification
                        </a>
                    </li>
                    <li class='nav-item'>
                        <a href="{% url 'deconnexion' %}" class="nav-link fs-6 text-secondary">
                            <i class="bi bi-power"></i> Déconnexion
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-8 ms-sm-auto col-lg-10 px-md-4">
            <div class="container mt-4">
                {% block index_elector %}
                {% endblock index_elector %}
            </div>
        </main>
    </div>
</div>
<script src="{% static 'scripts/bootstrap.bundle.min.js' %}" defer></script>
{% endblock content %}