{% extends "index.html" %}
{% load static %}
{% block content %}
<div class='container d-flex justify-content-center align-items-center content-otp' style="min-height: 100vh;">
    <div class="container text-center">
        <!-- Message d'erreur -->
        <h1 class="mt-4">Oups! Page non trouvée</h1>
        <p class="mb-4">Il semble que la page que vous recherchez n'existe pas.</p>
        <!-- Bouton de retour -->
        <a href="/" class="btn btn-primary">Retour à la page d'accueil</a>
    </div>
</div>
{% endblock content %}
