{% extends "index.html" %}
{% load static %}
{% block content %}
<div class='container d-flex justify-content-center align-items-center content-otp'>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/forgot.png' %}" class='img-fluid'>
            </div>
            <div class="col-md-6">
                <div class="alert alert-info">
                    Cher Utilisateur, Pour réinitialiser votre mot de passe, veuillez entrer votre adresse email
                    enregistrée dans le champ prévu à cet effet.
                    Un code de vérification vous sera ensuite envoyé. Ce code sera valable pendant 5 minutes.
                </div>
                {% include "tags/message.html" %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="otp" class='form-label'>Adresse email</label>
                        <input type="email" class='form-control' id='email' name='email' required>
                    </div>
                    <button type='submit' class='btn btn-primary mb-3 w-100'>Envoyer</button>
                    <a href="{% url "signin" %}" class='float-end text-decoration-none'><i class="bi bi-lock"></i>
                        Connexion</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}